<h1>Latest News</h1>
<% @feed_entries.each do |feed_entry|  %>
  <div id="<%= feed_entry.guid %>" class="blog post class-post">
  	<h2 class="">
  	  <a href="<%= feed_entry.url %>"><%= feed_entry.published_at.strftime("%d %B") %>: <%= feed_entry.name.html_safe %></a>	
  	</h2>  
	<div class="storycontent">
		<% display_html = feed_entry.content.gsub(/img\ class\=\"/, "img class=\"img-fluid ") %>
		<% display_html = display_html.gsub(/aligncenter|size-full|wp-image-\d+/, "") %>
		<% display_html = display_html.gsub(/width\:\ \d+px/, "") %>
    	<%= raw(display_html) %>
    </div>
  </div>
<% end %>
