<!DOCTYPE html>
<html>
<head>
    <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Typekit Stuff -->
<script type="text/javascript" src="http://use.typekit.com/gqc8emg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-556965-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="banner">
  <div id="headertext" class="tk-brioso-pro"><a href="/">B&B at Bull Farm Oast</a></div>
</div>

<div id="mainNav">
  <a href="/">home</a> <a href="/rooms">rooms</a> <a href="/breakfast">breakfast</a>
  <a href="/availability">availability</a> <a href="/attractions">location</a>
  <a href="/guestbook">guest book</a> <a href="/contact">contact us</a> <a href="/blog">blog</a>
</div>

<%= yield %>

</body>
</html>
