<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Typekit Stuff -->
   <script type="text/javascript" src="http://use.typekit.com/gqc8emg.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-556965-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

   </script>
   <%= yield :includes %>
</head>
<body>

<div class="bfoheader">
	<div class="container">
        <h1 id="headertext" class="tk-brioso-pro"><a href="/">B&B at Bull Farm Oast</a></h1>
	</div>
</div>

<div id="mainNav" class="bfo-nav">
  <div class="container">
	<nav class="navbar navbar-light">
		<ul class="nav navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="/">home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/rooms">rooms</a> 
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/breakfast">breakfast</a>
		</li>
		<li class="nav-item">
			<a  class="nav-link" href="/availability">availability</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/attractions">location</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/guestbook">guest book</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/contact">contact us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/blog">blog</a>
		</li>
		</ul>
	</div>
</div>

<!--<div class="container">-->
    <%= yield %>
	<!--</div>-->

</body>
</html>
